header.navbar {
    border-radius: 0;
    background: #44AA44;
}

a.navbar-brand {
    padding-top: 0;
    padding-left: 5px;
}

form textarea {
    resize: none;
}

#thumb {
    margin-bottom: 20px;
    border: 1px solid black;
}