<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
<header class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="./">
            <img src="imgs/home.png">
        </a>
        <form action="./search" class="navbar-form navbar-right" method="get">
            <div class="form-group">
                <input type="text" name="search" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</header>